.body-paragraph{
	font-family: 'Oxygen', sans-serif;
	color: #ECECEA;
}

.page-header{
	font-family: 'Bree Serif', serif;
}

body{
	background-color: #558C89;
}
#footer{
	font-family:"Comic Sans MS", cursive, sans-serif;
}

#shame-table thead{
	font-family: 'Bree Serif', serif;
	color: #ECECEA;
}

#shame-table tbody{
	font-family: 'Oxygen', sans-serif;
}
.carousel{
	max-width: 40%;
	max-height: 50%;
	height: 40%;
	width: 50%;
}
.item{
	height: 200px;
	width: 200px;
}