body{
	background-color: #FF7373;
}
ul{
    list-style-type: none;
}
li{
	text-rendering: optimizeLegibility;
}

ul.skills li{
	display: block;
}

header{
	background-color: #4C4635;
	margin-top: -20px;
}

@media (max-width: 768px){
	ul.header-tabs li{
		display:inline-flex;
	}
	.header-title{
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media (min-width: 768px) {
    ul.skills li{
		display: inline-flex;
	}
	.header-title{
		float: left;
	}
	.header-nav{
		float:right;
	}
	header{
		padding-left: 5px;
		padding-right: 5px;
		overflow: auto;
		display: inline-flex;
		width:100%;
	}
	#inner{
		clear:both;
	}
}



