body{
	background-color: #FF7373;
}
ul{
    list-style-type: none;
}
li{
	text-rendering: optimizeLegibility;
}

ul.sills li{
	display: block;
}

@media (max-width: 768px){
	li.header-tab{
		display: inline-flex;
		width: 33%;
		text-align: center;
	}
}

@media (min-width: 768px) {
    ul.skills li{
		display: inline-flex;
	}
	li.header-tab{
		display: block;
	}
}



