body{
	background-color: #0EBFE9;
}
ul{
    list-style-type: none;
}
li{
	text-rendering: optimizeLegibility;
}

ul.skills li{
	display: block;
	text-align: center;
	background-color: #E0E4CC;
}
ul.header-tabs li{
	font-size: 18px;
	vertical-align: middle;
	border-bottom: 2px solid #4C4635;
}

a.highlight{
	color: #F38630;
}

a.highlight:hover{
	color: #FA6900;
	text-decoration: none;
}

a.highlight:active{
	text-decoration: none;
}

li.active a.highlight{
	color: #FA6900;
}
li.active.header-tab{
	border-bottom: 2px solid #FA6900;
}
li.header-tab:hover{
	border-bottom: 2px solid #FA6900;
}

header{
	background-color: #4C4635;
	font-weight: bold;
}

.myListItem > .myListTitle > h2{
	color: #0EBFE9;
	margin-left:15px;
	margin-top:10px;
}

.myList > div.myListItem{
	background-color: #E0E4CC;
	border-radius: 3px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	font-size: 18px;
	width:98%;
}

.myList > div.myListItem > div.myListSummary > ul{
	list-style-type: circle;
}